views_ithaca/cameligo/deploy/.env
views_ithaca/cameligo/deploy/node_modules
views_ithaca/cameligo/deploy/package-lock.json
views_ithaca/cameligo/test/pytezos/*.pyc
views_ithaca/jsligo/deploy/.env
views_ithaca/jsligo/deploy/node_modules
views_ithaca/jsligo/deploy/package-lock.json
views_ithaca/jsligo/test/pytezos/*.pyc

v2/cameligo/deploy/.env
v2/cameligo/deploy/node_modules
v2/cameligo/deploy/package-lock.json
v2/cameligo/test/pytezos/__pycache__
v2/cameligo/test/pytezos/*.pyc
v2/jsligo/deploy/.env
v2/jsligo/deploy/node_modules
v2/jsligo/deploy/package-lock.json
v2/jsligo/test/pytezos/__pycache__
v2/jsligo/test/pytezos/*.pyc